<div class="truefalse-container right">
  <label for="answer1_question{{count}}">{{__ 'Answer'}}:</label>
  <p><input type="radio" name="answer1_question{{count}}" value="true" {{#if answer_true}}checked{{/if}}>{{__ 'True'}}</p>
  <p><input type="radio" name="answer1_question{{count}}" value="false" {{#if answer_false}}checked{{/if}}>{{__ 'False'}}</p>
</div>
