{% extends "@Tsugi/Page.twig" %}

{% block content %}
<h1>User Information</h1>
{% if app.tsugi.user %}
<ul>
<li> Name: {{ app.tsugi.user.displayname }}
<li> Email: {{ app.tsugi.user.email }}
<li> Role: {% if app.tsugi.user.instructor %} instructor {% else %} learner {% endif %}
<li> user_id: {{ app.tsugi.user.id }}
</ul>
{% else %}
<p>User is not set.</p>
{% endif %}
<h1>Context</h1>
{% if app.tsugi.context %}
<ul>
<li> Title: {{ app.tsugi.context.title }}
<li> context_id: {{ app.tsugi.context.id }}
</ul>
{% else %}
<p>Context is not set.</p>
{% endif %}
<h1>Link</h1>
{% if app.tsugi.link %}
<ul>
<li> Title: {{ app.tsugi.link.title }}
<li> link_id: {{ app.tsugi.link.id }}
</ul>
{% else %}
<p>Link is not set.</p>
{% endif %}
<h1>Result</h1>
{% if app.tsugi.result %}
<ul>
<li> Current Grade: {{ app.tsugi.result.grade }}
<li> result_id: {{ app.tsugi.result.id }}
</ul>
{% else %}
<p>Result is not set.</p>
{% endif %}
{% if session is defined %}
<pre>
{{ session }}
</pre>
{% else %}
<p>Session is not set</p>
{% endif %}
{% endblock %}
