{{#if servers.length }}
 {{#each servers}}
    <li>{{ipaddr}}
    {{#if local }}
        (this server)
    {{/if}}
    <a href="#" onclick="$('#tools_{{ipaddrid}}').toggle(); return false;">(toggle)</a>
    <div id="tools_{{ipaddrid}}" style="display:none;">
    {{#if install.length }}
        <ul>
        {{#each install}}
            <li><p>Scheduled for install: {{ clone_url }} ({{ created_at }})</p></li>
        {{/each}}
        </ul>
    {{/if}}
    {{#if tools.length}}
        <ul>
        {{#each tools}}
            <li><p>{{name}}
            <br/>Updated at: {{ updated_at }}
            <br/>Branch: {{ gitversion }}
            <br/>Commit: 
            <a href="#" onclick="showModal('Commit Detail','{{commit}}'); return false;">
            {{ commit }}</a>
            <pre id="{{commit}}" style="display:none;">
            {{ status_note }}
            {{ commit_log }}
            </pre>
            </p></li>
        {{/each}}
        </ul>
    </div>
    {{else}}
        <p>No tools found</p>
    {{/if}}
    </li>
 {{/each}}
{{else}}
  <p>No cluster information found</p>
{{/if}}

