{{#if installed.length }}
 {{#each installed}}
    <li>{{name}} 
       (<a href="{{html_url}}" target="_blank">{{html_url}}</a>)
       {{#if description}}
         <br/>{{description}}
       {{/if}} 
        <ul>
       {{#if status_note}}
        <li>
        <div id="status_note_{{index}}" title="git status" style="display: none;">
<pre>
{{status_note}}
</pre>
        </div>
       <a href="#" onclick="showModal('git status','status_note_{{index}}'); return false;">
    Current git status
       </a>
         </li>
       {{/if}}
       {{#if writeable}}
       {{else}}
              <li>
              Cannot be updated via this page
              <a href="#" onclick="showModal('Readonly Detail','readonly-dialog'); return false;">
              <i class="fa fa-lock text-danger"></i>
              ?
              </a>
         </li>
       {{/if}}
       {{#if guid}}
        <li>
       <a href="git.php?command=log&path={{guid}}" title="git log" target="iframe-frame"
        onclick="showModalIframe(this.title, 'iframe-dialog', 'iframe-frame', _TSUGI.spinnerUrl);" > 
       Git log
       </a>
        </li>
       {{/if}}
       {{#if updates}}
         <li>
         Updates Available
         <i class="fa fa-cloud-download text-important"></i>
         </li>
         {{#if guid}}
           {{#if writeable}}
            <li>
               <a href="git.php?command=pull&path={{guid}}" title="git pull" target="iframe-frame"
                onclick="showModalIframe(this.title, 'iframe-dialog', 'iframe-frame', _TSUGI.spinnerUrl, true);" > 
               Git pull
           </a>
            </li>
           {{/if}}
         {{/if}}
       {{/if}}
       </ul>
    </li>
 {{/each}}
{{else}}
 <p>No installed modules</p>
{{/if}}
