{{#if required.length }}
 {{#each required}}
    <li>{{name}}
        (<a href="{{html_url}}" target="_blank">{{html_url}}</a>)
       {{#if description}}
         <br/>{{description}}
       {{/if}}
        <ul>
        {{#if writeable}}
           <li>
              <a href="git.php?command=clone&remote={{clone_url}}" title="Install" target="iframe-frame"
               onclick="showModalIframe(this.title, 'iframe-dialog', 'iframe-frame', _TSUGI.spinnerUrl, true);" >
              Install
           </a>
           </li>
        {{else}}
          <li>
          Cannot be installed via this page
            <a href="#" onclick="showModal('Readonly Detail','readonly-dialog'); return false;">
            <i class="fa fa-lock text-danger"></i> ?  </a>
          </li>
        {{/if}}
        </ul>
    </li>
 {{/each}}
{{else}}
  <p>All required modules have been installed</p>
  {{#if required_error }}
    <p>{{required_error}}</p>
  {{/if}}
  {{#if required_error_detail }}
<pre>
{{required_error_detail}}
</pre>
  {{/if}}
 
{{/if}}

